{% extends "base.html" %}

{% block body %}
  {% include "landing/partials/nav.html" %}
  {% include "landing/partials/hero.html" %}
  {% include "landing/partials/marquee.html" %}
  {% include "landing/partials/launch.html" %}
  {% include "landing/partials/cardapio.html" %}
  {% include "landing/partials/about.html" %}
  {% include "landing/partials/lifestyle.html" %}
  {% include "landing/partials/clube.html" %}
  {% include "landing/partials/lojas.html" %}
  {% include "landing/partials/franquia.html" %}
  {% include "landing/partials/instagram.html" %}
  {% include "landing/partials/delivery.html" %}
  {% include "landing/partials/footer.html" %}
  {% include "landing/partials/modal.html" %}
{% endblock %}
